/=============================create page =====================================*/
#existing_categories{
	margin-top:100px!important;
}

.line_goal{
	background-color:#006633!important;
	margin-top:37px;
	margin-bottom:30px;
	height:3px;
	width:80%;
	float:right;
}
#goal_create{
	width:150px!important;
}
#create_hold{
	width:300px;
	margin-bottom:75px!important;
	margin-top:75px!important;

}
#cat_name{
	text-align:center!important;
}
/*=============================end create page =====================================*/
/*=============================bank page =====================================*/

#boxy_box{
	background-color:white!important;
	padding:30px!important;
	box-shadow:0 0 1em 0.5em green;
	margin-top:80px;
	margin-bottom:80px;

}

.table_form{
	height:100px;
	background-color:#F2F2F2;
}
.table_form > form{
	padding-top:25px!important;
}

#goal_change{
	border-radius:0px;
	background-color:#006633!important;
}
.input_goal{
	padding-left:30px;
	padding-top:10px;

}

.entry_group{
	padding-top:30px;
}

.label{
	margin:0px;
	margin-top:7px;
	color:#006633!important;

}

.line{
	background-color:#006633!important;
	margin-top:37px;
	margin-bottom:50px;
	height:3px;
	width:65%;
	float:right;
}
.main_head{
	float:left;
	margin-bottom:30px;

}
#holding{
	float:none;
	height:50px!important;
	margin-bottom:40px!important;
}

/*=============================end bank page =====================================*/
/*=============================signin page =====================================*/


#signin_box{
	background-color:white!important;
	padding:30px!important;
	box-shadow:0 0 1em 0.5em green;
	width:400px;

}

.signin_label{
	margin:0px;
	margin-top:7px;
	color:#006633!important;

}
.signin{
	width:100%;
	margin-bottom:7px;
	color:black;
}
/*
.container{
	padding-top:800px!important;
}
*/
footer{
	background-color:#006633!important;
	color:white
}
#footer-label{
	color:white!important;
}

footer > p{
	color:white!important;
}

#footer_link{
	color:white!important;
}


#submit{
	margin-top:10px;
	color:green!important;
}


.head{
	width:30%;
	/*float:left;*/
}

/*============================= signin page end =====================================*/
p {
	font-size:15px!important;
	margin-bottom:5px!important;

}

h1,h2,h3,h4,th{
	font-family: "Avenir Next Pro" !important;
	color:#000;
}

h1, h2, h3, h4 {
    color: #006633;
}
p,table{
	font-family: "Avenir Next Pro" !important;
	color:black!important;
}
h2{
	margin-top:60px;
}

@font-face {
    font-family: 'Avenir Next Pro';
    src: url("/static/css/font/AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
}

div#app {
    height:100%;
}

header {
    background: url("/static/img/bg-pattern.png"), linear-gradient(to right, #40A359, #077522)!important;
}

#mainNav .container {
    /*background: #000;*/
}
